.App {
  min-height: 100vh;
  background: #002233;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.App :nth-child(1) {
  border: none;
  width: 12rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
}
img {
  position: absolute;
  height: 100%;
  width: 100%;
}
* {
  outline: none;
}
input {
  height: 3rem;
  width: 1rem;
  background: transparent;
  border: 2px solid #0066ff;
  border-radius: 10px;
  transition: 0.8s;
  animation: startingEvent 2s infinite;
  position: relative;
}
@keyframes startingEvent {
  0%,
  100% {
    translate: 0% 0%;
  }
  50% {
    translate: 0% 15%;
  }
}
input[type="text"] {
  padding-left: 1rem;
  color: white;
  font-weight: bold;
}
input:hover {
  width: 33rem;
  cursor: pointer;
  animation: none;
}
input:focus {
  width: 33rem;
  background: #0066ff;
  animation: none;
}
button {
  height: 4rem;
  width: 12rem;
  border-radius: 20px;
  border: none;
  background: #0066ff;
  opacity: 1;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  box-shadow: 1px 1px 31px 1px #0066ff;
}
span {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
}
/* New Seyntax for Media Quary */
/* start in 0px and stop in 400px*/

@media (0px <= width <= 425px) {
  html {
    font-size: 10px;
  }
  input:focus {
    width: 20rem;
  }
}

@media (426px <= width <= 768px) {
  html {
    font-size: 14px;
  }
}

@media (1600px <= width) {
  html {
    font-size: 18px;
  }
}
@media (2000px <= width) {
  html {
    font-size: 22px;
  }
}
